<div ngClass="button-container">
  <div *ngIf="selectButton == 'month'" ngClass="date-container">
    <h1>{{ monthDate | date: "MMMM" }}</h1>
    <h1>-</h1>
    <h1>{{ monthDate | date: "yyyy" }}</h1>
  </div>
  <div *ngIf="selectButton == 'week'" ngClass="date-container">
    <h1>{{ weekDate | date: "MMMM" }}</h1>
    <h1>-</h1>
    <h1>{{ weekDate | date: "yyyy" }}</h1>
  </div>
  <div>
    <mat-icon ngClass="arrow-button" (click)="onClickBack()"
      >arrow_back_ios</mat-icon
    >
    <mat-icon ngClass="arrow-button" (click)="onClickNext()"
      >arrow_forward_ios</mat-icon
    >
  </div>
  <div ngClass="button-container">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        [ngClass]="{ 'select-button': selectButton == 'month' }"
        value="month"
        (click)="onToggleButton('month')"
        >Month</mat-button-toggle
      >
      <mat-button-toggle
        [ngClass]="{ 'select-button': selectButton == 'week' }"
        value="week"
        (click)="onToggleButton('week')"
        >Week</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>

<div *ngIf="selectButton == 'week'" ngClass="calendar-container">
  <div
    [ngClass]="formatDate(day) != currentDate ? 'date' : 'current-date'"
    *ngFor="let day of week"
  >
    <p>{{ day | date: "EEE" }} - {{ day | date: "LLL" }}</p>
    <p>{{ day | date: "d" }}</p>
  </div>
</div>
<div *ngIf="selectButton == 'month'" ngClass="calendar-container">
  <div
    [ngClass]="formatDate(day) != currentDate ? 'date' : 'current-date'"
    *ngFor="let day of month"
  >
    <p>{{ day | date: "EEE" }}</p>
    <p>{{ day | date: "d" }}</p>
  </div>
</div>
