.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.date {
  border: solid 1px;
  width: 100%;
  text-align: center;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.select-button {
  background-color: rgb(206, 219, 16);
}

.arrow-button {
  cursor: pointer;
  margin-right: 10px;
}
